---
import Layout from '@/layouts/default.astro';
import CourseCard from '@/components/course-card.astro';
import Pagination from '@/components/pagination.astro';
import type { CourseSummary } from '@/types.ts';

const url = Astro.url;
const searchParams = url.searchParams;
searchParams.set('sortBy', 'sale_start');
const page = searchParams.get('page'); // to generate pagination
console.log({ url, page });

const endpoint =
  searchParams.get('category') || searchParams.get('language')
    ? 'courses'
    : 'featured-courses';
const api = `${import.meta.env.API}/${endpoint}?${searchParams.toString()}`;

const courses: CourseSummary[] = [];
console.log({ api });

try {
  const response = await fetch(api, {
    headers: {
      'User-Agent':
        'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36',
      Accept: 'application/json',
      Connection: 'keep-alive',
    },
  });
  const result = await response.json();

  const data = result.items || result.courses || [];

  const filteredData = data.filter((item: any) => item.type !== 'ad');

  courses.push(...filteredData);
} catch (error) {
  console.error({ error });
}
---

<Layout>
  <div class='container'>
    <div
      class='my-8 grid grid-cols-1 gap-4 gap-y-8 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4'>
      {
        courses.length > 0 ? (
          courses?.map((c: any) => <CourseCard course={c} />)
        ) : (
          <p class='min-h-[75vh] w-full text-center text-xl md:col-span-2 lg:col-span-3 2xl:col-span-4'>
            No result found !!
          </p>
        )
      }
    </div>

    <Pagination
      page={page && !isNaN(Number(page)) ? Number(page) : 1}
      pathname={url.pathname}
      searchParams={searchParams}
    />
  </div>
</Layout>
